/*4K Screen*/
@media (min-width: 2560px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 50px;
    }

    nav ul a {
        font-size: 30px;
    }

    /*Footer*/
    .social-icons {
        height: 45px;
    }
    .social-icons a {
        font-size: 50px;
        letter-spacing: 5px;
    }
    
    .copyright {
        font-size: 26px;
    }
}

/*Large Laptop*/
@media (max-width: 1440px) {

}

/*Medium Laptop*/
@media (max-width: 1024px) {
    /*add_recipe.html*/
    .select-wrapper+label {
        font-size: 10px;
    }

}

/*Tablet*/
@media (max-width: 768px) {
    /*add_recipe.html*/
    .select-wrapper input.select-dropdown {
        margin-bottom: 25px;
    }
}

/*Large Mobile*/
@media (max-width: 425px) {
    /*Navigation Bar*/
    nav .brand-logo {
        margin-left: 0px;
    }

    /*Index.html*/
    .welcome-con {
        height: 490px;
    }

    .welcome-con h2 {
        font-size: 34px;
    }

    #index-help-message {
        font-size: 14px;
    }

    /*register.html & login.html*/
    .register-con {
        height: 435px;
    }

    .login-con {
        height: 300px;
    }

    .login-message p, .reg-message p {
        margin-top: 30px;
        font-size: 18px;
    }

    /*add_recipe.html*/
    .select-wrapper input.select-dropdown {
        margin-bottom: 25px;
    }
    
    .input-field>label {
        font-size: 12px;
    }
    
}

/*Medium Mobile*/
@media (max-width: 375px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 26px;
    }

    /*Index.html*/
    .welcome-con h2 {
        font-size: 30px;
    }

    /*add_recipe.html*/
    .input-field>label {
        font-size: 11px;
    }
}

/*Small Mobile*/
@media (max-width: 320px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 20px;
    }

    /*Index.html*/
    .welcome-con {
        height: 510px;
    }

    .welcome-con h2 {
        font-size: 26px;
    }

    #index-help-message {
        font-size: 12px;
    }

}