/*4K Screen*/
@media (min-width: 2560px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 50px;
    }

    nav ul a {
        font-size: 30px;
    }

    /*Footer*/
    .social-icons {
        height: 45px;
    }
    .social-icons a {
        font-size: 50px;
        letter-spacing: 5px;
    }
    
    .copyright {
        font-size: 26px;
    }
}

/*Large Laptop*/
@media (max-width: 1440px) {

}

/*Medium Laptop*/
@media (max-width: 1024px) {
    /*add_recipe.html*/
    .select-wrapper+label {
        font-size: 10px;
    }

    /*recipe.html*/
    .card-action .btn {
        padding: 0 12px;
    }

}

/*Tablet*/
@media (max-width: 768px) {
    /*add_recipe.html*/
    .select-wrapper input.select-dropdown {
        margin-bottom: 25px;
    }

    /*recipe.html*/
    .card-action .btn {
        padding: 0 16px;
    }
}

/*Large Mobile*/
@media (max-width: 425px) {
    /*Navigation Bar*/
    nav .brand-logo {
        margin-left: 0px;
    }

    /*Index.html*/
    .welcome-con {
        height: 100%;
    }

    .welcome-con h2 {
        font-size: 34px;
    }

    #index-help-message {
        font-size: 16px;
    }

    /*register.html & login.html*/
    .register-con {
        height: 100%;
    }

    .login-con {
        height: 100%;
    }

    .row .col .login-btns {
        margin-bottom: 10px;
    }

    .row .col .register-btns {
        margin-bottom: 10px;
    }

    .login-message p {
        font-size: 16px;
    }

    .reg-message p {
        font-size: 16px
    }

    /*add_recipe.html*/
    .select-wrapper input.select-dropdown {
        margin-bottom: 25px;
    }
    
    .input-field>label {
        font-size: 12px;
    }

    .row .col .addrec-btns {
        margin-bottom: 10px;
    }

    /*recipe.html*/
    .card-title h4 {
        padding-top: 10px;
    }

    .card {
        height: 495px;
    }

    .default-image {
    width: 150px;
    height: 150px;
    }

    .card-action .btn {
    margin-top: 20px;
    padding: 0 16px;
    }    
}

/*Medium Mobile*/
@media (max-width: 375px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 26px;
    }

    /*Index.html*/
    .welcome-con h2 {
        font-size: 30px;
    }

    /*add_recipe.html*/
    .input-field>label {
        font-size: 11px;
    }
}

/*Small Mobile*/
@media (max-width: 320px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 20px;
    }

    /*Index.html*/
    .welcome-con {
        height: 510px;
    }

    .welcome-con h2 {
        font-size: 26px;
    }

    #index-help-message {
        font-size: 12px;
    }

    /*recipe.html*/
    .card-action .btn {
        padding: 0 10px;
    }
}