/*4K Screen*/
@media (min-width: 2560px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 50px;
    }

    nav ul a {
        font-size: 30px;
    }

    /*Footer*/
    .social-icons {
        height: 45px;
    }
    .social-icons a {
        font-size: 50px;
        letter-spacing: 5px;
    }
    
    .copyright {
        font-size: 26px;
    }
}

/*Large Laptop*/
@media (max-width: 1440px) {

}

/*Medium Laptop*/
@media (max-width: 1024px) {

}

/*Tablet*/
@media (max-width: 768px) {

}

/*Large Mobile*/
@media (max-width: 425px) {
    /*Navigation Bar*/
    nav .brand-logo {
        margin-left: 0px;
    }

    /*Index.html*/
    .welcome-row {
        margin-top: 15px;
    }
    
    .welcome-con h2 {
        font-size: 34px;
    }
}

/*Medium Mobile*/
@media (max-width: 375px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 26px;
    }

    /*Index.html*/
    .welcome-con h2 {
        font-size: 30px;
    }
}

/*Small Mobile*/
@media (max-width: 320px) {
    /*Navigation Bar*/
    nav .brand-logo {
        font-size: 20px;
    }

    /*Index.html*/
    .welcome-con h2 {
        font-size: 26px;
    }
}