{% extends "base.html" %}
{% block content %}

<!--Jinja if checking to see if the logged in is not admin
if true, it will display a message, if false it will display
the manage page-->
{% if not session.user|lower == "admin"|lower %}
<h3 class="center-align text-shadow blue-grey lighten-4 black-text">
    <i class="fas fa-exclamation-triangle"></i><br>
    Access Denied<br><br>Only Admin Can Access This Page<br>
    Go Back To Your <a href="{{ url_for('account', username=session['user']) }}">Account</a> Page
</h3>
{% else %}
<!--Manage Container-->
<div class="container">
    <h3 class="center-align mange-meal-title">Manage Meal Types</h3>

    <!--Buttons for the form-->
    <div class="row center-align">
        <div class="col s12 m12 l12 xl12">
            <!--Back Button-->
            <a href="{{ url_for('account', username=session['user']) }}" 
            class="col s10 offset-s1 m4 offset-m2 xl3 offset-xl3 btn btn blue-grey lighten-1 
                    text-shadow waves-effect waves-light add_meal_att_btn"><i class="fas fa-arrow-left"></i> Back</a>

            <!--Add Meal Button-->
            <a href="{{ url_for('add_meal') }}" 
            class="col s10 offset-s1 m4 xl3 btn blue-grey darken-1 
                    text-shadow waves-effect waves-light add_meal_att_btn">Add Meal <i class="fas fa-plus"></i></a>
        </div>
    </div>

    <div class="row">
        <!--Jinja for loop, looping through the meals db-->
        {% for meal in meals %}
        <div class="col s12 m4 l4 xl4 meal-con">
            <!--Meal card-->
            <div class="card text-shadow center-align blue-grey lighten-4">
                <!--Card main content-->
                <div class="card-content">
                    <span class="card-title">{{ meal.meal_name }}</span>

                    <!--Edit Meal Button-->
                    <a href="{{ url_for('edit_meals', meal_id=meal._id) }}" class="btn blue-grey lighten-5 text-shadow black-text
                        waves-effect">Edit</a>

                    <!--Delete Meal Button-->
                    <a href="{{ url_for('delete_meals', meal_id=meal._id) }}" class="btn blue-grey darken-1 
                        text-shadow waves-effect waves-light">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}