{% extends "base.html" %}
{% block content %}

<!--Account container-->
<div class="container">
    <!--Using jinja to display username in welcome header-->
    <div class="row account-row center-align">
        <div class="col s12 m12 l12 xl12">
            <h3>Welcome {{ username }}</h3>

            <!--Using jinja to display user account info-->
            <div class="row center-align user-acc-info">
                <div class="col s12 m12 l12 xl12">
                    <p>Username: {{ username }}</p>
                    <p>Name: {{ fullname }}</p>
                    <p>Email: {{ email }}</p>
                </div>
            </div>

            <!--Change username button-->
            <div class="row">
                <div class="col s12 m6 xl4">
                    <a href="{{ url_for('change_username', username=session.user) }}" class="btn blue-grey darken-1 acc-change-btn text-shadow
                        waves-effect waves-light">Change Username
                        <i class="fas fa-edit"></i></a>
                </div>

                <!--Change password button-->
                <div class="col s12 m6 xl4">
                    <a href="{{ url_for('change_password', username=session.user) }}" class="btn blue-grey darken-1 acc-change-btn text-shadow
                        waves-effect waves-light">Change Password
                        <i class="fas fa-edit"></i></a>
                </div>

                <!--Delete Account button-->
                <div class="col s12 m6 xl4">
                    <a href="#" class="btn blue-grey darken-1 acc-change-btn text-shadow modal-trigger
                        waves-effect waves-light" data-target="delete_modal_account">Delete Account
                        <i class="fas fa-times"></i></a>
                </div>
            </div>

            <!--Jinja if to check if the session user is admin,
            if true then show manage recipe attributes container-->
            {% if session.user|lower == "admin"|lower %}
            <div class="container admin-con">
                <h3>Manage Recipe Attributes</h3>
                <!--Manage Recipe Attributes-->
                <div class="row">
                    <!--Manage Meal Attributes-->
                    <div class="col s12 m6 l6 xl4">
                        <a href="{{ url_for('get_meals') }}" class="btn blue-grey darken-1 recipe-attrib-btn text-shadow
                        waves-effect waves-light">Manage Meal Types
                            <i class="fas fa-edit"></i></a>
                    </div>

                    <!--Manage Cuisine Attributes-->
                    <div class="col s12 m6 l6 xl4">
                        <a href="{{ url_for('get_cuisines') }}" class="btn blue-grey darken-1 recipe-attrib-btn text-shadow
                        waves-effect waves-light">Manage Cuisine Types
                            <i class="fas fa-edit"></i></a>
                    </div>

                    <!--Manage Diet Attributes-->
                    <div class="col s12 m12 l12 xl4">
                        <a href="{{ url_for('get_diets') }}" class="btn blue-grey darken-1 recipe-attrib-btn text-shadow
                        waves-effect waves-light">Manage Diet Types
                            <i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}

            <!--Jinja if statement to see if user has any stored and shared recipes
            and then display the add recipe button-->
            <div class="row center-align">
                {% if num_of_user_recipes >= 1 %}
                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl8 offset-xl2">
                    <a href="{{ url_for('add_recipe') }}" class="btn blue-grey darken-1 text-shadow add-recipe-btn
                    waves-effect waves-light">Add Recipe <i class="fas fa-plus"></i></a>
                </div>
                {% endif %}
            </div>

            <!--Simple heading with a number showing the user how 
            many recipes they have created-->
            <div class="row center-align">
                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl8 offset-xl2">
                    <h4>Your shared and stored recipes ({{ num_of_user_recipes }})</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Jinja if statement to see if user has any stored and shared recipes
and if they dont, prompting them to add recipes and if they do have stored recipes
they will display the cards below-->
{% if num_of_user_recipes == 0 %}
<h4 class="results_title center-align">No Recipes Found</h4><br>
<a href="{{ url_for('add_recipe') }}">
    <h5 class="results_title center-align">Create your first recipe here</h5>
</a>
{% else %}

<!--Jinja for loop, looping through the database to find recipes that were created by the 
logged in user using the stored user session. The loop is also used to display the individual
fields and values within the database-->
{% for recipe in user_recipes %}
<div class="row all_recipes_row">
    <div class="col s12 m4 l4 xl2">
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="black-text">

            <!--Jinja if check to see if the recipe is created by matches the 
            user session and if it does the recipe card background will be
            a different colours from the others indicating to the user that
            this recipe is one that he or she have created-->
            {% if session.user == recipe.created_by %}
            <div class="card text-shadow blue-grey lighten-4 center-align hoverable">
                {% endif %}
                <!--Displaying recipe name from db-->
                <div class="card-title center-align">
                    <h5>{{ recipe.recipe_name }}</h5>
                </div>

                <!--Recipe attribute top table-->
                <table class="recipe-attributes">
                    <thead>
                        <tr>
                            <th>Meal</th>
                            <th>Cuisine</th>
                            <th>Diet</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <!--Jinja if checking to see if not meal type found
                                then display a dash, else if found then display meal type-->
                                {% if not recipe.recipe_meal_type %}
                                <p>-</p>
                                {% else %}
                                <p>{{ recipe.recipe_meal_type }}</p>
                                {% endif %}
                            </td>
                            <td>
                                <!--Jinja if checking to see if not cuisine type found
                                then display a dash, else if found then display cuisine type-->
                                {% if not recipe.recipe_cuisine_type %}
                                <p>-</p>
                                {% else %}
                                <p>{{ recipe.recipe_cuisine_type }}</p>
                                {% endif %}
                            </td>
                            <td>
                                <!--Jinja if checking to see if not diet type found
                                then display a dash, else if found then display diet type-->
                                {% if not recipe.recipe_diet_type %}
                                <p>-</p>
                                {% else %}
                                <p>{{ recipe.recipe_diet_type }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Recipe card image-->
                <div class="card-image s12">

                    <!--Jinja if checking to see if there is a image url and if there
                    is one then display the image and if not the display default image-->
                    {% if recipe.recipe_image_url %}
                    <img src="{{ recipe.recipe_image_url }}" alt="Recipe Image Placeholder" />
                    {% else %}
                    <div class="default-img">
                        <p>Sorry<br>No Image<br>Provided</p>
                    </div>
                    {% endif %}
                </div>

                <!--Recipe attribute bottom table-->
                <table class="recipe-attributes">
                    <thead>
                        <tr>
                            <th>Cooking Time</th>
                            <th>Servings</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <!--Display recipe cook time from db-->
                            <td>{{ recipe.recipe_cooktime }} Minutes</td>
                            <!--Display recipe people serving from db-->
                            <td>{{ recipe.recipe_servings }} People</td>
                        </tr>
                    </tbody>
                </table>

                <!--Recipe card content-->
                <div class="card-content">
                    <!--Displaying a truncated or short version of the recipe
                    description from the db-->
                    <p class="truncate">{{ recipe.recipe_description }}</p>
                    <div class="col s12 m12 l12 xl12">

                        <!--View Recipe button-->
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn blue-grey darken-1 text-shadow uppercase 
                            waves-effect waves-light">View <i class="fab fa-readme"></i></a>

                        <!--Edit recipe button but only if the logged in user matches
                        the created by field-->
                        {% if session.user == recipe.created_by %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn blue-grey darken-1 text-shadow uppercase 
                            waves-effect waves-light">Edit <i class="fas fa-edit"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
{% endif %}

<!--Delete Account Confirmation Modal-->
<div id="delete_modal_account" class="modal del_modal">
    <div class="modal-header blue-grey lighten-5 text-shadow center-align">
        <h5>Delete Confirmation</h5>
    </div>
    <!--This modal will display a message to the user alerting them that they are about to 
    delete their account from the website and database-->
    <div class="modal-content center-align">
        <p><i class="fas fa-exclamation-triangle"></i>&nbsp; Attention: Please read carefully, 
            this action is permanent</p>
        <p>Going ahead with action will delete your account and all the recipes you have created</p>
        <p>Username: {{ username }}</p>
        <p>Recipes Created: ({{ num_of_user_recipes }})</p>
        <p>Are you sure you want to go ahead with this action?</p>
    </div>

    <!--Modal Buttons-->
    <div class="modal-footer blue-grey lighten-5 text-shadow">
        <!--Cancel delete button-->
        <a href="#!" class="modal-close waves-effect waves-light btn blue-grey darken-1">Cancel</a>
        <!--Confirm delete button-->
        <a href="{{ url_for('delete_account', username=session.user) }}"
            class="waves-effect waves-light btn blue-grey darken-1">Delete</a>
    </div>
</div>
{% endblock %}