{% extends 'base.html' %}
{% block content %}

<div class="row add_recipe_row">
    <h3 class="center-align text-shadow create-recipe-title">Create Recipe</h3>
    <form class="col s10 offset-s1">

        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="recipe_name" type="text" data-length="50">
                <label for="recipe_name" class="black-text"><i class="fas fa-file-alt"></i> Recipe Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="recipe_description" type="text" data-length="250">
                <label for="recipe_description" class="black-text"><i class="fas fa-pen-alt"></i> Recipe Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="recipe_image_url" type="text" data-length="10">
                <label for="image_url" class="black-text"><i class="fas fa-images"></i> Image URL (Optional)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s2 offset-s2">
                <select>
                    <option value="" disabled selected>Select Meal Type</option>
                    <option value="1">Breakfast</option>
                    <option value="2">Lunch</option>
                    <option value="3">Dinner</option>
                </select>
                <label class="black-text"><i class="fas fa-drumstick-bite"></i> Meal Type</label>
            </div>

            <div class="input-field col s2 offset-s1">
                <select>
                    <option value="" disabled selected>Select Cuisine Type</option>
                    <option value="1">Indian</option>
                    <option value="2">Italian</option>
                    <option value="3">Mexican</option>
                </select>
                <label class="black-text"><i class="fas fa-globe-americas"></i> Cuisine Type (Optional)</label>
            </div>

            <div class="input-field col s2 offset-s1">
                <select>
                    <option value="" disabled selected>Select Diet Type</option>
                    <option value="1">Halal</option>
                    <option value="2">Vegetarian</option>
                    <option value="3">Vegan</option>
                </select>
                <label class="black-text"><i class="fas fa-seedling"></i> Diet Type (Optional)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4 offset-s1">
                <input id="recipe_cooktime" type="text" data-length="10">
                <label for="recipe_cooktime" class="black-text"><i class="fas fa-clock"></i> Cooking Time - In Minutes</label>
            </div>

            <div class="col s1 empty-col"></div>

            <div class="input-field col s4 offset-s1">
                <input id="recipe_servings" type="text" data-length="10">
                <label for="recipe_servings" class="black-text"><i class="fas fa-users"></i> Number Of Servings</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s4 offset-s1">
                <textarea id="recipe_ingredients" class="materialize-textarea" data-length="120"></textarea>
                <label for="recipe_ingredients" class="black-text"><i class="fas fa-list-ul"></i> List Ingredients - Press Enter for new line</label>
            </div>

            <div class="col s1 empty-col"></div>

            <div class="input-field col s4 offset-s1">
                <textarea id="recipe_steps" class="materialize-textarea" data-length="120"></textarea>
                <label for="recipe_steps" class="black-text"><i class="fas fa-list-ol"></i> List Steps - Press Enter for new line</label>
            </div>
        </div>

        <div class="row">
            <a href="{{ url_for('account', username=session['user']) }}" class="col s3 offset-s2 btn blue-grey lighten-2 text-shadow"
            name="action">Cancel <i class="fas fa-times"></i></a>

            <button type="submit" class="col s3 offset-s2 btn blue-grey darken-1 text-shadow">
                Add Recipe <i class="fas fa-plus"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}