<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Share &#8250; Cook &#8250; Enjoy</title>
    <!--This is for the favicon-->
    <link rel="shortcut icon" type="image/jpg" href="/static/icons/utensils-solid.svg"/>
</head>

<body>

    <header>
        <!--Main Top Nav Bar -->
        <nav class="nav-extend text-shadow grey lighten-3">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Share&#8250;Cook&#8250;Enjoy</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">All Recipes</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Log Out</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile Side Nav Bar -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align">Share&#8250;Cook&#8250;Enjoy</h4>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">All Recipes</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="text-shadow grey lighten-3">
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="foot-fb"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="foot-twitter"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="foot-twitter"><i class="fab fa-instagram-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/iftikhar-khan-1b1a2498/" target="_blank" class="foot-linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.github.com/ifti-khan" target="_blank" class="foot-github"><i class="fab fa-github-square" aria-hidden="true"></i></a>
        </div>
        <a href="https://ifti-khan.github.io/ifti-khan-milestone-project-1/" target="_blank"><p class="copyright">Copyright &copy; Ifti Khan <span id="copyright-jsyear"></span></p></a>
        <div>

        </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>