<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Share &#8250; Cook &#8250; Enjoy</title>
    <!--This is for the favicon-->
    <link rel="shortcut icon" href="/static/icons/utensils-solid.svg" type="image/jpg" />
</head>

<body>

    <header>
        <!--Main Top Nav Bar -->
        <nav class="nav-extend text-shadow blue-grey lighten-5">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo">Share&#8250;Cook&#8250;Enjoy</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('all_recipes') }}">Recipes</a></li>
                    {% if not session.user %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% else %}
                    <li><a href="{{ url_for('account', username=session['user']) }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% endif %}
                    <li><a class="modal-trigger" data-target="contact-modal" href="#">Contact</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile Side Nav Bar -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align sidenav-heading">Share&#8250;Cook&#8250;Enjoy</h4>
            </li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('all_recipes') }}">Recipes</a></li>
            {% if not session.user %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% else %}
            <li><a href="{{ url_for('account', username=session['user']) }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
            <li><a class="modal-trigger" data-target="contact-modal" href="#">Contact</a></li>
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align text-shadow blue-grey lighten-4 black-text">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-shadow blue-grey lighten-5">
        <div class="row">
            <div class="col s12 social-icons">
                <a href="https://www.facebook.com" target="_blank" class="foot-fb"><i class="fab fa-facebook-square"
                        aria-hidden="true"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="foot-twitter"><i class="fab fa-twitter-square"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="foot-twitter"><i
                        class="fab fa-instagram-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/iftikhar-khan-1b1a2498/" target="_blank" class="foot-linkedin"><i
                        class="fab fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://www.github.com/ifti-khan" target="_blank" class="foot-github"><i
                        class="fab fa-github-square" aria-hidden="true"></i></a>
            </div>
        </div>

        <a href="https://ifti-khan.github.io/ifti-khan-milestone-project-1/" target="_blank">
            <p class="copyright col s12">Copyright &copy; Ifti Khan <span id="copyright-jsyear"></span></p>
        </a>
    </footer>

    <!--Contact Modal-->
    <div id="contact-modal" class="modal cont_modal">
        <div class="modal-header blue-grey lighten-5 text-shadow center-align">
            <h5>Contact Us</h5>
        </div>
        <div class="modal-content">

            <!--Name Input Field-->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-id-card prefix blue-grey-text text-darken-1"></i>
                    <input id="modal_name" name="modal_name" type="text" minlength="5" maxlength="25"
                        pattern="^[a-zA-Z0-9]{5,25}$" class="validate" value="{{ fullname }}" required>
                    <label for="modal_name" class="black-text">Fullname</label>
                    <span class="helper-text" data-error="Please enter your fullname"></span>
                </div>
            </div>

            <!--Username Input Field-->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-user prefix blue-grey-text text-darken-1"></i>
                    <input id="modal_username" name="modal_username" type="text" minlength="5" maxlength="25"
                        pattern="^[a-zA-Z0-9]{5,25}$" class="validate" value="{{ username }}" required>
                    <label for="modal_username" class="black-text">Username</label>
                    <span class="helper-text" data-error="Please enter your username"></span>
                </div>
            </div>

            <!--Email Input Field-->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-at prefix blue-grey-text text-darken-1"></i>
                    <input id="modal-email" name="modal-email" type="email" data-length="50" minlength="5"
                        maxlength="50" class="validate" value="{{ email }}" required>
                    <label for="modal-email" class="black-text">Email Address</label>
                    <span class="helper-text" data-error="Must be 5 characters or more 
                and contain the @ symbol, with characters following"></span>
                </div>
            </div>

            <!--Dropdown For Message Subject-->
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="fas fa-comment-dots prefix blue-grey-text text-darken-1"></i>
                    <select id="message_subject" name="message_subject" class="validate" required>
                        <option value="" disabled selected>Select A Message Subject</option>
                        <option value="for-username">Forgotten Username</option>
                        <option value="for-password">Forgotten Password</option>
                        <option value="add-meal">Add New Meal Type</option>
                        <option value="add-cuisine">Add New Cusine Type</option>
                        <option value="add-diet">Add New Diet Type</option>
                        <option value="other">Other</option>
                    </select>
                    <label class="black-text">Message Subject</label>
                </div>
            </div>

            <!--Text Area For Contact Message-->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-envelope prefix blue-grey-text text-darken-1"></i>
                    <textarea id="modal_message" name="modal_message" class="validate materialize-textarea"
                        data-length="1000" pattern="^[A-Za-z0-9\W+]{5,1000}$" minlength="5" maxlength="1000"
                        required></textarea>
                    <label for="modal_message" class="black-text">Message</label>
                    <span class="helper-text" data-error="Please type your message here"></span>
                </div>
            </div>
        </div>

        <div class="modal-footer blue-grey lighten-5">
            <a href="#" class="modal-close waves-effect waves-light btn blue-grey darken-1">Close</a>
            <a href="#" class="waves-effect waves-light btn blue-grey darken-1">Send</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>