{% extends 'base.html' %}
{% block content %}

<!--Change Password Container-->
<div class="container change_password_con center-align">

    <h3>Change Password</h3>

    <!--Change Password Form-->
    <div class="row ">
        <form method="POST" action="{{ url_for('change_password', username=session.user) }}" autocomplete="off"
            class="col s12 m12 l12 xl12">

            <!--Current Password Input Field-->
            <div class="input-field col s9 offset-s1 m9 offset-m1 l9 offset-l1 xl6 offset-xl3 
            curr_password">
                <i class="fas fa-user-lock prefix blue-grey-text darken-1"></i>
                <input id="current_password" name="current_password" type="password" data-length="25" minlength="5"
                    maxlength="25" pattern="[A-Za-z0-9\W+]{5,25}" class="validate" required>
                <label for="current_password" class="black-text">Current Password</label>
                <span class="helper-text col s10" data-error="Must match current password"></span>
            </div>

            <!--New Password Input Field-->
            <div class="row">
                <div class="input-field col s9 offset-s1 m9 offset-m1 l9 offset-l1 xl6 offset-xl3 
                new_pass">
                    <i class="fas fa-key prefix blue-grey-text darken-1"></i>
                    <input id="new_password" name="new_password" type="password" data-length="25" minlength="5"
                        maxlength="25" pattern="[A-Za-z0-9\W+]{5,25}" class="validate" required>
                    <label for="new_password" class="black-text">New Password</label>
                    <span class="helper-text col s10" data-error="Must be 5 characters or more"></span>
                </div>
            </div>

            <!--Confirm Password Input Field-->
            <div class="row">
                <div class="input-field col s9 offset-s1 m9 offset-m1 l9 offset-l1 xl6 offset-xl3 
                confirm_pass">
                    <i class="fas fa-check-double prefix blue-grey-text darken-1"></i>
                    <input id="confirm_password" name="confirm_password" type="password" data-length="25" minlength="5"
                        maxlength="25" pattern="[A-Za-z0-9\W+]{5,25}" class="validate" required>
                    <label for="confirm_password" class="black-text">Confirm Password</label>
                    <span class="helper-text col s10" data-error="Must match the new password"></span>
                </div>
            </div>

            <!--Buttons for the form-->
            <div class="row">
                <!--Back/Cancel Button-->
                <a href="{{ url_for('account', username=session['user']) }}" class="col s10 offset-s1 m4 offset-m2 
                xl3 offset-xl3 chge-pass-btns btn blue-grey darken-1 text-shadow waves-effect waves-light">
                <i class="fas fa-arrow-left"></i> Back</a>

                <!--Submit/Change Button-->
                <button type="submit" class="col s10 offset-s1 m4 xl3 chge-pass-btns btn blue-grey darken-1
                        text-shadow waves-effect waves-light">Change <i class="fas fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}