{% extends "base.html" %}
{% block content %}

<div class="row welcome-row">
        <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl6 offset-xl3 welcome-con">
            <p>Welcome to</p>
            <h2>Share&#8250;Cook&#8250;Enjoy</h2>
            <p>Where you can share and store you cooking recipes online</p>

            <div class="various-btns">
                <a class="waves-effect waves-light grey darken-3 btn"><i class="fas fa-sign-in-alt"></i> Login</a>
                <p>If already registered</p>
                <a class="waves-effect waves-light grey darken-3 btn"><i class="fas fa-user-plus"></i> Register</a>
                <p>For full access</p>
                <a class="waves-effect waves-light grey darken-3 btn"><i class="fas fa-user"></i> Guest</a>
                <p>Browse as a guest</p>
            </div>
        </div>
</div>


{% endblock %}