{% extends "base.html" %}
{% block content %}

{% if not session.user %}
<h5 class="center-align text-shadow blue-grey lighten-4 black-text reg-message2">Want Full Access? <a
        href="{{ url_for('register') }}">Register Now!</a></h5>
{% endif %}

<div class="col s12">
    <h4 class="center-align text-shadow all_recipe_title">All Recipes ({{ num_of_recipes }})</h4>
</div>

{% for recipe in recipes %}
<div class="row all_recipes_row">
    <div class="col s12 m6 l4 xl3">
        {% if session.user == recipe.created_by %}
        <div class="card text-shadow blue-grey lighten-4 center-align hoverable">
            {% else %}
            <div class="card text-shadow blue-grey lighten-5 center-align hoverable">
                {% endif %}
                <div class="card-title center-align">
                    <h4>{{ recipe.recipe_name }}</h4>
                </div>

                <table class="meal-attributes">
                    <thead>
                        <tr>
                            <th>Meal</th>
                            <th>Cuisine</th>
                            <th>Diet</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {% if not recipe.recipe_meal_type %}
                                <p>-</p>
                                {% else %}
                                <p>{{ recipe.recipe_meal_type }}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if not recipe.recipe_cuisine_type %}
                                <p>-</p>
                                {% else %}
                                <p>{{ recipe.recipe_cuisine_type }}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if not recipe.recipe_diet_type %}
                                <p>-</p>
                                {% else %}
                                <p>{{ recipe.recipe_diet_type }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="card-image s12">

                    {% if recipe.recipe_image_url %}
                    <img src="{{ recipe.recipe_image_url }}" alt="Recipe Image Placeholder" />
                    {% else %}
                    <img src="{{ url_for('static', filename='icons/utensils-solid.svg') }}" class="default-image"
                        alt="Default Image Placeholder" />
                    {% endif %}
                </div>

                <table class="meal-attributes">
                    <thead>
                        <tr>
                            <th>Cooking Time</th>
                            <th>Servings</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ recipe.recipe_cooktime }} Minutes</td>
                            <td>{{ recipe.recipe_servings }} People</td>
                        </tr>
                    </tbody>
                </table>

                <div class="card-content">
                    <p>{{ recipe.recipe_description }}</p>
                    <div class="col s12 m12 l12 xl12">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                            class="btn blue-grey darken-1 text-shadow uppercase">View <i class="fab fa-readme"></i></a>

                        {% if session.user == recipe.created_by %}
                        <a href="#" class="btn blue-grey darken-1 text-shadow uppercase">
                            Edit <i class="fas fa-edit"></i></a>

                        <a href="#" class="btn blue-grey darken-1 text-shadow uppercase">
                            Delete <i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col s12 xl12">
        <!--Pagination-->
        <ul class="pagination text-shadow center-align">
            {% for page_number in num_of_pages %}
            {% if page_number == current_page %}
            <li class="active blue-grey darken-1"><a>{{ page_number }}</a></li>
            {% else %}
            <li class="waves-effect">
                <a href="{{ url_for('all_recipes', current_page=page_number) }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}