{% extends "base.html" %}
{% block content %}

{% if not session.user %}
<h5 class="center-align text-shadow blue-grey lighten-4 black-text reg-message2">Want Full Access? <a
        href="{{ url_for('register') }}">Register Now!</a></h5>
{% endif %}

<h1>All Recipes Page</h1>
{% for recipe in recipes %}

<div class="row all_recipes_row">
    <div class="col s12 m6 l3 xl3">
        <div class="card col s12 text-shadow blue-grey lighten-5 center-align">
            <div class="card-title center-align">{{ recipe.recipe_name }}</div>
            
            <div>
            {{ recipe.recipe_meal_type }}
            {{ recipe.recipe_cuisine_type }}
            {{ recipe.recipe_diet_type }}
            {{ recipe.recipe_cooktime }}
            {{ recipe.recipe_servings }}
        </div>
            <div class="card-image">

                {% if recipe.recipe_image_url %}
                <img src="{{ recipe.recipe_image_url }}" alt="Recipe Image Placeholder" />
                {% else %}
                <img src="{{ url_for('static', filename='icons/utensils-solid.svg') }}"
                class="default-image" alt="Default Image Placeholder" />
                {% endif %}

            </div>
            <div class="card-content">
                <p>{{ recipe.recipe_description }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                class="btn blue-grey darken-1 text-shadow uppercase">View Recipe</a>
            
                {% if session.user == recipe.created_by %}
            <div class="buttons-container margin-top-med">

                <a href="#" class="btn blue-grey darken-1 text-shadow uppercase">
                    <i class="fas fa-edit right"></i>Edit</a>
                
                    <a href="#" class="btn blue-grey darken-1 text-shadow uppercase">
                    <i class="fas fa-trash-alt right"></i> Delete</a>
            </div>
            {% endif %}
            
            </div>

            

        </div>
    </div>

</div>



{% endfor %}

{% endblock %}