{% extends "base.html" %}
{% block content %}

{% if not session.user %}
<h5 class="center-align text-shadow blue-grey lighten-4 black-text reg-message3">
    Please <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a> to view this
    recipe in detail</h5>
{% endif %}

{% if session.user %}
<div class="container recipe_info_con blue-grey lighten-5">

    <!--Recipe Title, Description-->
    <div class="row">
        <div class="col s12 m12 l12 xl12 center-align">
            <h3 class="view_recipe_title">{{ recipe_info.recipe_name }}</h3>
        </div>

        <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 center-align">
            <p class="recipe_info_description">{{ recipe_info.recipe_description }}</p>
        </div>
    </div>

    <!--Recipe Info Image-->
    <div class="row">
        <div class="col s12 m8 l8 xl6 push-xl1 center-align">
            {% if recipe_info.recipe_image_url %}
            <img src="{{ recipe_info.recipe_image_url }}" alt="Recipe Image" class="view_recipe_image">
                {% else %}
                <div class="view-default-img">
                    <p>Sorry<br>No Image<br>Provided</p>
                </div>
                {% endif %}

            <h6><i class="fas fa-share-square"></i> Shared By - {{ recipe_info.created_by }}</h6>
        </div>

        <!--Recipe Info Column-->
        <div class="col s10 offset-s2 m4 pull-m1 l4 pull-l1 xl6">
            <table class="recipe_info_table">
                <tr>
                    <td><i class="fas fa-utensils"></i> Meal</td>
                    <td>{{ recipe_info.recipe_meal_type }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-globe-americas"></i> Cuisine</td>
                    <td>{{ recipe_info.recipe_cuisine_type }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-seedling"></i> Diet</td>
                    <td>{{ recipe_info.recipe_diet_type }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-clock"></i> Cooking Time</td>
                    <td>{{ recipe_info.recipe_cooktime }} Minutes</td>
                </tr>
                <tr>
                    <td><i class="fas fa-users"></i> Servings</td>
                    <td>{{ recipe_info.recipe_servings }} People</td>
                </tr>
            </table>
        </div>

    </div>

    <!--Recipe Ingredients-->
    <div class="row">
        <ul class="collapsible col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1">
            <li>
                <div class="collapsible-header text-shadow blue-grey lighten-4 black-text">
                    <h5><i class="fas fa-clipboard-list prefix"></i>Ingredient List</h5>
                </div>
                <div class="collapsible-body">

                    <div class="row">
                        <div class="col s12 xl12">
                            <ul>
                                {% for ingredient in recipe_info.recipe_ingredients %}
                                <li class="ingredient-list">
                                    {{ ingredient }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Recipe Cooking Steps-->
    <div class="row cooking-steps">
        <ul class="collapsible col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1">
            <li>
                <div class="collapsible-header text-shadow blue-grey lighten-4 black-text">
                    <h5><i class="fas fa-list-ol prefix"></i>Cooking Instructions</h5>
                </div>
                <div class="collapsible-body">

                    <div class="row">
                        <div class="col s12 xl12">
                            <ol>
                                {% for steps in recipe_info.recipe_steps %}
                                <li>
                                    {{ steps }}
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
{% endif %}
{% endblock %}