{% extends "base.html" %}
{% block content %}

<h1>View Recipe Page</h1>

{% if not session.user %}
<h5 class="center-align text-shadow blue-grey lighten-4 black-text reg-message2">Want To View This Recipe? <a
        href="{{ url_for('register') }}">Register Now!</a></h5>
{% endif %}

{% if session.user %}
{{ recipe_info.recipe_name}}

<!--Ingredients-->
<div class="container container-recipe-lists">
    <div class="row">
        <div class="col s12 m4">
            <h3 class="tertiary-heading uppercase center-align">Ingredient List</h3>
            <ul class="unordered-list list-items">
                {% for ingredient in recipe_info.recipe_ingredients %}
                <li class="ingredients-list">
                    {{ ingredient }}
                </li>
                {% endfor %}
            </ul>
        </div>
        
{% endif %}
{% endblock %}