{% extends 'base.html' %} 
{% block content %}

<!-- 500 Error page container, with a small message caption and two navigation 
    links for user who encounter an internal server error-->
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <h1><i class="fas fa-bug"></i> 500</h1>
            <h2>Internal Server Error</h2>
            <h4>The server has encountered an internal error and 
                was unable to complete your request.<br><br>
            Please go back to the homepage or contact support</h4>
            
            <!--Home button-->
            <a href="{{ url_for('index')}}" class="btn blue-grey darken-1 
            waves-effect waves-light text-shadow uppercase">Home 
            <i class="fas fa-home"></i></a>

            <!--Contact modal button-->
            <a href="#contact-modal" class="btn blue-grey darken-1 
            waves-effect waves-light text-shadow uppercase modal-trigger" 
            data-target="contact-modal">Contact 
            <i class="fas fa-envelope"></i></a>

        </div>
    </div>
</div>
{% endblock %}